h1 {
    margin: 15px;
    padding: 15px;
    font-size: 30px;
    text-align: center;
  }
  
  .password-reset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  img {
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 white);
  }
  
  label {
    font-size: 17px;
    display: block;
    margin-top: 10px;
    margin-bottom: 0.5em;
  }
  
  input {
    width: 380px;
    padding: 0.7em;
    margin-bottom: 1em;
  }
  
  button {
    width: 100%;
    padding: 0.7em;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }