.title {
  background-color: rgb(3, 20, 20);
  padding: 15px;
  padding-left: 35px;
}

.title h1 {
  color: azure;
  background-color: rgb(3, 20, 20);
  margin: 0;
  font-size: 40px;
}

.main {
  min-height: 100vh;
  padding: 15px;
  padding-left: 35px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.campanias-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.campania-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
}

.campania-name {
  font-weight: bold;
}

.campania-type, .campania-status {
  margin-left: 20px;
  font-size: 14px;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-controls button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #343a40;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-controls button:hover {
  background-color: #495057;
}

.pagination-controls span {
  margin: 0 10px;
  font-size: 16px;
}
