<h1 mat-dialog-title>Destinatarios de {{ listaNombre }}</h1>
<div mat-dialog-content class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="cedula">
      <th mat-header-cell *matHeaderCellDef> Cedula </th>
      <td mat-cell *matCellDef="let destinatario"> {{ destinatario.cedula }} </td>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let destinatario"> {{ destinatario.nombre }} </td>
    </ng-container>
    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let destinatario"> {{ destinatario.apellido }} </td>
    </ng-container>
    <ng-container matColumnDef="genero">
      <th mat-header-cell *matHeaderCellDef> Genero </th>
      <td mat-cell *matCellDef="let destinatario"> {{ destinatario.genero }} </td>
    </ng-container>
    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let destinatario"> {{ destinatario.correo }} </td>
    </ng-container>
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> Telefono </th>
      <td mat-cell *matCellDef="let destinatario"> {{ destinatario.telefono }} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let destinatario">
        <button mat-button class="button-edit" (click)="editarDestinatario(destinatario)">Editar</button>
        <button mat-button class="button-delete" (click)="eliminarDestinatario(destinatario)">Eliminar</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Formulario de edición -->
  <div *ngIf="editDestinatario" class="edit-form">
    <h2>Editar Destinatario</h2>
    <form>
      <mat-form-field>
        <mat-label>Cédula</mat-label>
        <input matInput [(ngModel)]="editDestinatario.cedula" name="cedula" disabled>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="editDestinatario.nombre" name="nombre">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input matInput [(ngModel)]="editDestinatario.apellido" name="apellido">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Género</mat-label>
        <input matInput [(ngModel)]="editDestinatario.genero" name="genero">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Correo</mat-label>
        <input matInput [(ngModel)]="editDestinatario.correo" name="correo">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Teléfono</mat-label>
        <input matInput [(ngModel)]="editDestinatario.telefono" name="telefono">
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions class="button-actions">
  <div *ngIf="editDestinatario" class="edit-form">
    <button mat-button class="button-edit" (click)="guardarCambios()">Guardar</button>
    <button mat-button class="button-delete" (click)="cancelarEdicion()">Cancelar</button>
  </div>
  <button mat-button class="button-close" (click)="close()">Cerrar</button>
</div>
