<head>
    <link rel="stylesheet" href="dashboard-empresa.component.css">
</head>
<div class="container">

    <div class="title">
        <h1>Empresa</h1>
    </div>

    <div class="btn">
        <button>Agregar Empleado</button>
    </div>

    

    <div class="main">
        <div class="company">
            <h2>empleado</h2>            
            <h2>empleado</h2>
            <h2>empleado</h2>
            <h2>empleado</h2>
            <h2>empleado</h2>
            <h2>empleado</h2>
            <h2>empleado</h2>
            <h2>empleado</h2>
            <h2>empleado</h2>
        </div>


    </div>
    



</div>
