<div mat-dialog-content class="form-container">
    <div class="title-button">
      <h1>Crear Filtro</h1>
    </div>
    <form [formGroup]="createFilterForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombreFiltro">Nombre del filtro</label>
        <input id="nombreFiltro" formControlName="nombre">
        <label for="nombreLista">Selecciona la lista a filtrar</label>
        <select name="listaDestinatarios" id="listaDestinatarios" formControlName="listaDestinatarios">
            <option value="" disabled selected>Escoge una lista</option>
            <option *ngFor="let lista of listas" >{{ lista.nombre }}</option>
        </select>

      </div>
      
      <!--aqui se debe mostrar los nombres de los encabezados de la lista seleccionada 
      para seleccionar cual se va a filtrar
      por ejemplo:
      nombre [ ]
      cedula [ ]
      genero [X]
      edad   [ ]
      telefono [ ]
      correo [ ]
      -->

      <!--cuando se seleccione alguno de los encabezados 
      se debe mostrar los valores que tiene ese encabezado en la lista de contactos
      para seleccionar qué valor se va a filtrar
      por ejemplo: si arriba se selecciona genero entonces
      masculino [ ]
      femenino [X]
      otro [ ]
      -->
      
      <!--se guardan los parámetros ingresados y ahora la lista tiene un filtro
      que puede aplicarse cuando se realice una campaña
      -->

      <div class="form-actions">
        <button mat-button type="submit" color="primary" >Añadir</button>
        <button mat-button type="button" color="warn" (click)="onNoClick()">Cancelar</button>
      </div>

    </form>
  </div>
  