<div class="full-vp">
    <div class="card card-center">
        <img src="logo.png" alt="massender">
        <form>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" formControlName="username">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password">
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</div>