<aside class="flex column sidebar" >

    <div class="logo">
        <img src="assets/logo.png" alt="Massender">
    </div>

    <div class="usuario">
        <h2>Nombre</h2>
    </div>
    

    <button class="sidebar-button" (click)="toggleMenu()" [ngClass]="showMenu ? 'selected' : ''">Campañas</button>
    <div class="menu-pop" [ngClass]="showMenu ? '' : 'hidden'">
        <button class="sidebar-button">Nueva Campaña</button>
        <button class="sidebar-button">Campañas Activas</button>
        <button class="sidebar-button">Campañas Finalizadas</button>
    </div>
    <button class="sidebar-button" routerLink = '/dashboard-destinatarios'>Destinatarios</button>
    <button class="sidebar-button">Reportes</button>
    <button class="sidebar-button" routerLink ='/dashboard-empresa'>Empresa</button>
    <button class="sidebar-button" routerLink = '/dashboard-pagos'>Pagos</button>
    <button class="sidebar-button" routerLink = '/dashboard-configuracion'>Configuración</button>

</aside>