<aside class="flex column sidebar" >

    <div class="logo">
        <img src="assets/logo.png" alt="Massender">
    </div>

    <div class="usuario">
        <h2>Nombre</h2>
    </div>
    

    <button class="sidebar-button">Campañas</button>
    <button class="sidebar-button" routerLink = '/dashboard-destinatarios'>Destinatarios</button>
    <button class="sidebar-button">Reportes</button>
    <button class="sidebar-button" routerLink ='/dashboard-empresa'>Empresa</button>
    <button class="sidebar-button" routerLink = '/dashboard-pagos'>Pagos</button>
    <button class="sidebar-button" routerLink = '/dashboard-configuracion'>Configuración</button>

</aside>