/* Contenedor principal */
.container {
  min-height: 100dvh;
  margin: 0;
  background-color: #f9f9f9;
}

/* Título y botones */
.title-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(3, 20, 20);
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px; /* Añadido para igualar los márgenes */
  color: azure;
}

.title-button h1 {
  color: azure;
  margin: 0;
  font-size: 40px;
}

.description p {
  font-size: 20px;
  padding-top: 35px;
  padding-left: 35px;
}

.main {
  padding: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-content span {
  font-size: 16px;
  color: #666;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.filters mat-form-field,
.filters button {
  flex: 1 1 auto;
  min-width: 200px;
  max-width: 200px;
}

.table-container {
  overflow-x: auto;
}

.mat-elevation-z8 {
  border-radius: 8px;
}

mat-header-cell {
  background-color: #3f51b5;
  color: #fff;
  font-weight: bold;
}

mat-cell {
  font-size: 14px;
}

.mat-paginator {
  margin-top: 20px;
}

.campanias-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.campania-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #333;
  color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.campania-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.campania-name,
.campania-mensaje,
.campania-fecha,
.campania-status {
  flex: 1;
  text-align: center;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-controls button {
  margin: 0 5px;
}

/* Estilo de botones */
button[mat-button] {
  background-color: #4caf50;
  color: white;
  margin-left: 10px; /* Añadido para separar los botones */
}

button[mat-button]:hover {
  background-color: #388e3c;
}

button[mat-raised-button] {
  background-color: #66bb6a;
  color: white;
  margin-left: 10px; /* Añadido para separar los botones */
}

button[mat-raised-button]:hover {
  background-color: #43a047;
}

/* Responsive design */
@media (max-width: 768px) {
  .filters {
    flex-direction: column;
  }

  .title-button {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }
}
