<div class="container">
    <div class="title-button">
        <h1>Importar Contactos</h1>
    </div>
    <div class="description">
        <p><b>Esta es su base de datos de contactos. Desde aquí, puede ver,
                organizar y administrar los contactos individualmente o en grupo.</b>
        </p>
    </div>
    <div class="upload">
        <mat-card appearance="outlined">
            <mat-card-header>
                <div class="header-content">
                    <div>
                        <mat-card-title>Cargar Archivo .csv</mat-card-title>
                        <mat-card-subtitle>Importa tus contactos desde un archivo .csv</mat-card-subtitle>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-actions>
                <button>Cargar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>