<h1>Cambio de Contraseña</h1>
<div class="password-reset-container">
    <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
      <img src="logo.png" alt="massender">
      <div>
        <label for="username">Usuario</label>
        <input id="username" formControlName="username" type="text" required />
      </div>
      <div>
        <label for="newPassword">Nueva Contraseña</label>
        <input id="newPassword" formControlName="newPassword" type="password" required />
      </div>
      <div>
        <label for="confirmPassword">Confirmar Nueva Contraseña</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password" required />
      </div>
      <button type="submit">Cambiar Clave</button>
    </form>
</div>
  