body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
}

.container {
  display: flex;
  margin: 25px;
  justify-content: center;
  align-items: center;
  
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  max-width: 500px; 
}

.form-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}


.login-box, .bank-info-box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.bank-info-box {
  width: 140%;
}

.bank-info-box form{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 35px;

}

.paquetes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  gap: 15px;
  width: 200px; 
  max-width: 300px; 
  padding: 20px; 
  height: 200px;

}

.logo {
  width: 360px;
  margin-bottom: 15px;
  -webkit-filter: drop-shadow(1px 1px 0 black) 
                  drop-shadow(-1px -1px 0 white);
  filter: drop-shadow(1px 1px 0 black) 
          drop-shadow(-1px -1px 0 white);
}

.textbox, .date {
  position: relative;
  margin-bottom: 30px;
}

.textbox input {
  width: 80%;
  padding: 10px;
  background: #f2f2f2;
  border: none;
  outline: none;
  font-size: 18px;
  color: #333;
}

.btn {
  width: 60%;
  background: #4caf50;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  outline: none;
}

.btn:hover {
  background: #45a049;
}
