<div class="container">
  <div class="login-container">
    <div class="form-container">
      <div class="login-box">
        <img src="logo.png" alt="Massender Logo" class="logo">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <h2>Datos Personales</h2>
          <div class="textbox">
            <input id="username" formControlName="username" placeholder="Empresa" required />
          </div>

          <div class="textbox">
            <input id="nombre_completo" formControlName="nombre_completo" placeholder="Nombre Completo" required />
          </div>

          <div class="textbox">
            <input id="correo" type="email" formControlName="correo" placeholder="Correo Electrónico" required />
          </div>

          <div class="textbox">
            <input id="telefono" formControlName="telefono" placeholder="Teléfono" required />
          </div>

          <div class="textbox">
            <input id="password" type="password" formControlName="password" placeholder="Contraseña" required />
          </div>
        </form>
      </div>

      <div class="bank-info-container">
        <div class="bank-info-box">
          <h2>Información de pago</h2>

          <form [formGroup]="pagosForm" (ngSubmit)="onSubmit()">

            <div class="paquetes">
              <h1>Selecciona un paquete</h1>
              <select name="paquetes" id="paquetes" (change)="updatePackageInfo($event)">

                <option value="empty" selected disabled>Seleccionar</option>


                <option value="basic">
                  <div class="paquete-basic-title">Basic</div>
                </option>
                <option value="premium">
                  <div class="paquete-premium-title">Premium</div>
                </option>
                <option value="vip">
                  <div class="paquete-vip-title">VIP</div>
                </option>
              </select>
              <div class="paquete-info">
                <p>{{ paqueteDescripcion }}</p>
              </div>
            </div>

            <div class="inputs">

              <div class="textbox">
                <input id="account_number" placeholder="Número de Tarjeta" required />
              </div>

              <div class="textbox">
                <input type="text" id="expiry-date" name="expiry-date" placeholder="Fecha de vencimiento"
                  (focus)="onFocus()" (blur)="onBlur()" required>
              </div>

              <div class="textbox">
                <input id="cvv" placeholder="CVV" required />
              </div>

              <div class="textbox">
                <input id="account_holder" placeholder="Titular de la Tarjeta" required />
              </div>
              
              <div class="total">
                <h2>Total a pagar: {{ paquetePrecio }}</h2>
              </div>

            </div>

          </form>
        </div>
      </div>

    </div>

    <button type="submit" class="btn">Registrar</button>


  </div>
</div>