.container{
    min-height: 100dvh;
}

.title{
    background-color: rgb(3, 20, 20);
    padding: 15px;
    padding-left: 35px;

}


.title h1{
    color: azure;
    background-color: rgb(3, 20, 20);
}

.membership{
    padding: 25px;
}

.pay-history{
    padding-left: 25px;
}

.mat-mdc-card .main-title{
    font-size: 25px;
    font-weight: bold;
    width: 250px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(56, 33, 189);
    color: var(--white);
}

.mat-mdc-card-title{
    color: rgb(56, 33, 189);
}

::ng-deep .mat-mdc-card,
.mat-mdc-card-header,
.mat-mdc-card-title,
.mat-mdc-card-actions,
.mat-mdc-card-subtitle {

    background-color: var(--white);
}