<div class="container">

    <div class="title">
        <h1>Información de facturación</h1>
    </div>

    <div class="membership">
        <mat-card>
            <mat-card-header>
              <mat-card-title class="main-title">Tu membresía</mat-card-title>
              <mat-card-title>plan</mat-card-title>
              <mat-card-subtitle>Premium</mat-card-subtitle>
              <mat-card-subtitle>xx.x $</mat-card-subtitle>
              <mat-card-title>Próxima facturación</mat-card-title>
              <mat-card-subtitle>3 de julio de 2024</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
    </div>

    <div class="pay-history">
        <p>pays</p>

    </div>



</div>