<div class="container">
    <div class="title">
        <h1>Campaña por mensaje de texto</h1>
    </div>
    <div class="campana-team-enviar">
        <div class="campana">
            <h4>Creación de campaña</h4>
        </div>
        <div class="team-enviar">
            <div class="team">
                <h4>Team</h4>
                <div class="team-items flex column">
                    <button class="integrantes">Integrantes</button>
                    <button class="accion">Agergar integrante</button>
                    <button class="accion">Eliminar integrante</button>
                </div>
            </div>
            <div class="enviar">
                <h4>Envío</h4>
                <div class="flex column">
                    <button class="ahora">Enviar ahora</button>
                    <button class="programado">Programar envío</button>
                </div>
            </div>
        </div>
    </div>
    <div class="lista-filtro">
        <div class="lista">
            <h4>Seleccionar lista de contactos</h4>
        </div>
        <div class="filtro">
            <h4>Segmentar destinatarios</h4>
        </div>
    </div>
</div>